
.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    height:100vh;
    justify-content: start;
    padding: 2em;
    margin-bottom: 2em;
}

.error{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}
.card-img-top{
    height: 13rem;
}

.card-text{
    max-height: 4em; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}
.card{
    height: 25em;
}